/*
 * Customizer CSS
 *
 * Adjusts styling for theme option controls in the Customizer
 *
 * @package Treville Pro
 */

 #customize-control-treville_theme_options-footer_text {
 	margin-top: 16px;
 }

#customize-control-treville_theme_options-header_search_title,
#customize-control-treville_theme_options-scroll_top_title {
	margin-bottom: 0;
}

#customize-control-treville_theme_options-footer_text textarea {
	height: 4em;
}

/* Custom Font Control */
.customize-control-treville_pro_custom_font {
	margin-top: 24px;
}

#customize-control-text_font {
	margin-top: 0;
}

.customize-control-treville_pro_custom_font .actions .button.previous {
	margin-right: 4px;
}

.customize-control-treville_pro_custom_font .actions .button.standard {
	float: right;
}

.customize-control-treville_pro_custom_font select {
	width: 100%;
}

.customize-control-treville_pro_custom_font div:hover {
	cursor: default;
}

.customize-control-treville_pro_custom_font .actions .button:hover {
	cursor: pointer;
}

/* Typography Checkbox Controls */
#sub-accordion-section-treville_pro_section_typography .customize-control-checkbox {
	margin-bottom: 0;
}

/* Magazine Sections */
.adding-magazine-widget #available-widgets #available-widgets-list [id*='widget-tpl-treville-magazine-sidebar'] {
	display: none !important;
}

.adding-magazine-widget #available-widgets [id*='widget-tpl-treville-magazine-horizontal-box'] .widget-top::before {
	background-image: url( '../images/magazine-horizontal-box.png' );
}

.adding-magazine-widget #available-widgets [id*='widget-tpl-treville-magazine-vertical-box'] .widget-top::before {
	background-image: url( '../images/magazine-vertical-box.png' );
}

.adding-magazine-widget #available-widgets [id*='widget-tpl-treville-magazine-list'] .widget-top::before {
	background-image: url( '../images/magazine-list.png' );
}

.adding-magazine-widget #available-widgets [id*='widget-tpl-treville-magazine-single'] .widget-top::before {
	background-image: url( '../images/magazine-single.png' );
}
