.footer-navigation {
	float: right;
}

.footer-navigation-menu {
	position: relative;
	display: block;
	margin: 0;
	padding: 1.25em 0;
	list-style-position: outside;
	list-style-type: none;
}

.footer-navigation-menu li {
	position: relative;
	float: left;
}

.footer-navigation-menu a {
	display: block;
	margin: 0;
	padding: 1.2em;
	text-decoration: none;
	font-size: 15px;
	font-size: 0.9375rem;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.footer-navigation-menu a:link,
.footer-navigation-menu a:visited {
	@include color(--footer-link-color);
	text-decoration: none;
}

.footer-navigation-menu a:hover,
.footer-navigation-menu a:active {
	@include color(--footer-link-hover-color);
}

@media only screen and (max-width: 60em) {
	.footer-navigation {
		float: none;
		text-align: center;
	}

	.footer-navigation-menu {
		padding-bottom: 0;
	}

	.footer-navigation-menu li {
		display: inline-block;
		float: none;
	}

	.footer-navigation-menu a {
		padding: 0.8em 1.2em;
	}
}

@media only screen and (max-width: 40em) {
	.footer-navigation {
		padding-bottom: 1.5em;
		border-bottom: 1px solid;
		@include border-color(--footer-widgets-border-color);
	}

	.footer-navigation-menu li,
	.footer-navigation-menu a {
		display: block;
	}

	.footer-navigation-menu a {
		padding: 0.6em 0;
	}
}
