.footer-widgets-background {
	padding: 2rem 0 0;
	border-bottom: 1px solid rgba(255,255,255,0.05);
	background: #454545;
}

.footer-widgets {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -2rem;
}

.footer-widget-column {
	width: 25%;
	padding-right: 2rem;
	box-sizing: border-box;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

/* Footer Widget Styling */
.footer-widgets .widget {
	color: #fff;
	border: 1px solid rgba(255,255,255,0.05);
	box-shadow: none;
	background: none;
}

.footer-widgets .widget-header {
	box-shadow: none;
}

.footer-widgets .widget-title {
	color: #fff;
	background: rgba(255,255,255,0.025);
	border-bottom: 1px solid rgba(255,255,255,0.025);
}

.footer-widgets .widget a:link,
.footer-widgets .widget a:visited  {
	color: #fff;
}

.footer-widgets .widget a:hover,
.footer-widgets .widget a:active  {
	color: rgba(255,255,255,0.5);
}

@media only screen and (max-width: 75em) {
	.footer-widgets-background {
		padding: 1.5rem 0 0;
	}

	.footer-widgets {
		margin-right: -1.5rem;
	}

	/* Default: Four Column Footer Widgets */
	.footer-widget-column {
		padding-right: 1.5rem;
	}

	.scroll-to-top-button {
		right: 1em;
		bottom: 1em;
	}
}

@media only screen and (max-width: 65em) {
	.footer-widget-column:nth-child(1):nth-last-child(4),
	.footer-widget-column:nth-child(2):nth-last-child(3),
	.footer-widget-column:nth-child(3):nth-last-child(2),
	.footer-widget-column:nth-child(4):nth-last-child(1) {
		width: 50%;
	}
}

@media only screen and (max-width: 50em) {
	.footer-widget-column:nth-child(1):nth-last-child(3),
	.footer-widget-column:nth-child(2):nth-last-child(2),
	.footer-widget-column:nth-child(3):nth-last-child(1) {
		width: 100%;
	}
}

@media only screen and (max-width: 35em) {
	.footer-widgets {
		margin-right: 0;
	}

	#footer-widgets .footer-widget-column {
		padding-right: 0;
		width: 100%;
	}
}
