.header-search {
	display: none;
	@include background(--navi-background-color);
}

.primary-navigation-wrap.toggled-on .header-search {
	display: block;
	border-top: 1px solid;
	@include border-color(--navi-border-color);
}

.header-search .search-form .search-field {
	padding: 1em 1em 0.92em 1em;
	min-width: 250px;
	@include color(--navi-color);
	@include background(--navi-background-color);
	border: none;

	&::placeholder {
		@include color(--navi-hover-color);
	}
}

.header-search .search-form .search-submit {
	margin: 1em;
	padding: 0 0.4em;
	@include background(--navi-background-color);
	border: none;
}

.header-search .search-form .search-submit .genericon-search {
	padding: 0;
	@include color(--navi-color);
	font-size: 24px;
}

.header-search .search-form .search-submit:hover .genericon-search,
.header-search .search-form .search-submit:active .genericon-search {
	@include color(--navi-hover-color);
}

@media only screen and (min-width: 60em) {
	#masthead .header-search {
		display: block;
		margin-left: auto;
		border: none;
	}

	.header-search .search-form .search-field {
		border-left: 1px solid;
		@include border-color(--navi-border-color);
	}
}
