.header-search {
	float: right;
	margin-right: -1em;
}

.header-search .search-form .search-field {
	padding: 1em 1em 0.92em 1em;
	min-width: 250px;
	background: #fff;
	border: none;
	border-left: 1px solid rgba(0,0,0,0.1);
}

.header-search .search-form .search-submit {
	margin: 1em;
	padding: 0 0.4em;
	background: #fff;
	border: none;
}

.header-search .search-form .search-submit .genericon-search {
	padding: 0;
	color: #454545;
	font-size: 24px;
}

.header-search .search-form .search-submit:hover .genericon-search,
.header-search .search-form .search-submit:active .genericon-search {
	color: rgba(0,0,0,0.5);
}
