@use "../_mixins";

.header-social-icons .social-icons-menu {
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
}

.header-social-icons .social-icons-menu li {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
}

.header-social-icons .social-icons-menu li a {
	display: flex;
	margin: 0;
	padding: 0.5em;
	@include mixins.color(--top-navi-color);
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.header-social-icons .social-icons-menu li a:hover,
.header-social-icons .social-icons-menu li a:active {
	@include mixins.color(--top-navi-hover-color);
	text-decoration: none;
}

.header-social-icons .social-icons-menu li a .icon {
	margin: 0;
	width: 19px;
	height: 19px;
	vertical-align: top;
	fill: currentColor;
}
